<aside class="rtl-direction container side-bar">
    <!-- navigation area -->
    <nav class="navigation">
        <ul class="menu">
            <li class="navigation-list"><a href="{{ site.data.data.baseurl }}/">خانه</a></li>
        </ul>
    </nav>
    <!-- end of navigation area -->

    <!-- info area -->
    <div class="about">
        <p class="with-margin">درباره:</p>
        <p class="with-margin">{{ site.data.data.about }}</p>
    </div>
    <!-- end of info area -->

    <!-- profiles link area -->
    <div class="profiles">
        <ul class="menu">
            <li class="profiles-list"><a href="https://twitter.com/{{ site.data.data.twitter_username }}" target="_blanck">من در Twitter</a></li>
            <li class="profiles-list"><a href="https://github.com/{{ site.data.data.github_username }}" target="_blanck">من در GitHub</a></li>
        </ul>
    </div>
    <!-- end of profiles link area -->
</aside>