<aside class="rtl-direction container side-bar">
    <!-- navigation area -->
    <nav class="navigation">
        <ul class="menu">
            <li class="navigation-list"><a href="{{ site.data.data.baseurl }}/">خانه</a></li>
        </ul>
    </nav>
    <!-- end of navigation area -->

    <!-- info area -->
    <div class="about">
        <p class="with-margin">درباره:</p>
        <p class="with-margin">{{ site.data.data.about }}</p>
    </div>
    <!-- end of info area -->

    <!-- profiles link area -->
    <div class="profiles">
        <ul class="menu">
            <li class="profiles-list"><a href="https://twitter.com/{{ site.data.data.twitter_username }}" target="_blanck">من در Twitter</a></li>
            <li class="profiles-list"><a href="https://github.com/{{ site.data.data.github_username }}" target="_blanck">من در GitHub</a></li>
            <li class="profiles-list"><a href="https://t.me/marvintpa" target="_blanck">Marvin</a></li>
        </ul>
    </div>
    <!-- end of profiles link area -->

    <!-- embeded soundcloud profile !-->
    <div class="soundcloud">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/13283376&color=%23181820&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    </div>
    <!-- end of embeded soundcloud profile !-->
</aside>
