@font-face {
  font-family: Vazir;
  src: url('/fonts/vazir/Vazir.eot');
  src: url('/fonts/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
       url('/fonts/vazir/Vazir.woff') format('woff'),
       url('/fonts/vazir/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir-Bold;
  src: url('/fonts/vazir/Vazir-Bold.eot');
  src: url('/fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/vazir/Vazir-Bold.woff') format('woff'),
       url('/fonts/vazir/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

.text-a
{
	color: black;
	font-size: 44px;
	font-family: "VazirBold", Mirza, Mono;
}
.text-b
{
	color: #DB5361;
	font-size: 30px;
	font-family: "VazirBold", Mirza, Mono;
}
.text-c
{
	color: #0000FF;
	font-size: 20px;
	font-family: "Vazir", Mirza, Mono;
}
.text-d
{
	color: #555555;
	font-size: 18px;
	font-family: "Vazir", Mirza, Mono;
}
.text-e
{
	color: white;
	font-size: 24px;
	font-family: "Vazir", Mirza, Mono;
}

body {
	direction: rtl;
	font-family: "Vazir";
}
